.spacer {
    flex: 1 1 auto;
}

.header {
    margin-top: 20px;
}

mat-grid-list {
    text-align: right;
}

.actions-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    flex-wrap: wrap;
}

.review-form-field {
    max-width: 200px;
    max-height: 150px;
    margin-right: 20px;
}

h1 {
    text-align: center;
}

.card {
    display: flex;
    width: 300px;
}

.card-presented {
    text-align: center;
    margin-top: 45px;
}

.parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    margin: 20px;
    align-items: stretch;
}