.spacer {
    flex: 1 1 auto;
}

.create-button {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 250px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 80px;
    margin: 20px;
}